/Person_Interfaces/build/
/Test_Person_Server/build/
/Person_Interfaces/dist/
/Test_Person_Application/dist/
/Test_Person_Server/dist/
/MSc Properties Common/build/
/MSc Properties Server/build/
/Test_Person_Application/build/
/MSc Properties Client/build/
/MSc Properties Client/nbproject/private/